<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sign in & Explore!</title>
</head>
<body>
  <h1 style="color:darkblue">Login</h1>
  <form method="POST" action='/login'>
    <input name="username" type="text" placeholder="username"></input>
    <input name="password" type="password" placeholder="password"></input>
    <input type='submit' value="login">
  </form>
  <a href='./signup'>Sign up</a>
</body>
</html>
